/*
|   ---------------------------------------------------------------------------------
|   @Layouts (Clientes)
|   ---------------------------------------------------------------------------------
|   
*/

.clientes{
    display: flex;
    width: 100%;
    background-color: var(--color-gold);
    position: relative;
    min-height: 10rem;
    height: max-content;
    justify-content: center;
    gap: 1rem;
}
    @media screen and (min-width: 300px) and (max-width: 800px) {
                                                                
        .clientes{
            flex-direction: column;
            padding: 2rem 0;
        }
        
    }

.clientes__header{
    display: flex;
    width: 50%;
    align-items: center;
    gap: 3rem;
}
    @media screen and (min-width: 300px) and (max-width: 800px) {
                                                                    
        .clientes__header{
            width: 100%;
            justify-content: center;
        }
        
    }

.clientes__items{
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding: 3rem;
}
    @media screen and (min-width: 300px) and (max-width: 800px) {
                                                                        
        .clientes__items{
            width: 100%;
        }
        
    }

.clientes__item{
    display: flex;
    flex-direction: column;
    color: var(--color-blue);
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.clientes__item-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clientes__item-img img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.clientes__item-text{
    display: flex;
    flex-direction: column;
    color: var(--color-blue);
    text-align: center;
    gap: 1rem;
    line-height: 1.5rem;
}

.clientes__item-text a{
    text-decoration: none;
    color: var(--color-blue);
}


/* .clientes__item i{
    font-size: 2.5rem;
}

.clientes__item-text{
    display: flex;
    flex-direction: column;
}

.clientes__items-row{
    display: flex;
    width: 50%;
    justify-content: space-around;
} */