/*
|   ---------------------------------------------------------------------------------
|   @Layouts (Cobertura)
|   ---------------------------------------------------------------------------------
|   
*/

.cobertura{
    display: flex;
    width: 100%;
    background-color: var(--color-blue);
    position: relative;
    padding: 5rem 0;
    flex-direction: column;
    gap: 2rem;
    background-image: url('../../resources/img/logo-trasparente.png');
    background-position: left;
    background-size: 70%;
    background-repeat: no-repeat;
}
    @media screen and (min-width: 300px) and (max-width: 1000px) {
                                            
        .cobertura{
            background-position: center;
        }
        
    }

.cobertura__header{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 3rem;
}
    @media screen and (min-width: 300px) and (max-width: 800px) {
                                                                    
        .cobertura__header{
            justify-content: center;

        }
        
    }

.cobertura__lista{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
    @media screen and (min-width: 300px) and (max-width: 1000px) {
                                        
        .cobertura__lista{
            width: 100%;
        }
        
    }

.cobertura__lista li{
    font-size: 2rem;
    color: var(--color-white);
    list-style-type: none;
    margin-top: 1rem;
}

.cobertura__lista li:before {
    content: "\f3c5"; 
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
  }

.cobertura__mapa{
    padding-top: 5rem;
    position: absolute;
    top: 0;
    right: 2rem;
    background-image: url('../../resources/img/mapa.png');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50rem;
    height: 50rem;
    background-origin: content-box;
}

    @media screen and (min-width: 1176px) and (max-width: 1331px) {
                                        
        .cobertura__mapa{
            width: 40rem;
            height: 40rem;
        }
        
    }
    @media screen and (min-width: 300px) and (max-width: 1175px) {
                                        
        .cobertura__mapa{
            width: 30rem;
            height: 30rem;
            top: 7rem;
        }
        
    }

    @media screen and (min-width: 300px) and (max-width: 1000px) {
                                    
        .cobertura__mapa{
            display: none;
        }
        
    }