/*
|   ---------------------------------------------------------------------------------
|   @Layouts (Contacto)
|   ---------------------------------------------------------------------------------
|   
*/

.contacto{
    display: flex;
    width: 100%;
    background-color: var(--color-blue);
    position: relative;
    gap: 2rem;
}
    @media screen and (min-width: 300px) and (max-width: 800px) {
                                                                        
        .contacto{
            flex-direction: column;
        }
        
    }

.contacto__col{
    display: flex;
    flex-direction: column;
    width: 70%;
}
    @media screen and (min-width: 300px) and (max-width: 800px) {
        
        .contacto__col{
            width: 100%;
        }
        
    }

.contacto__col--30{
    width: 30%;
}
    @media screen and (min-width: 300px) and (max-width: 800px) {
            
        .contacto__col--30{
            width: 100%;
        }
        
    }

.contacto__col--padding{
    padding: 5rem 0 0 0;
    gap: 2rem;
}

.contacto__header{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
}
    @media screen and (min-width: 300px) and (max-width: 800px) {
                
        .contacto__header{
            flex-direction: row;
            text-align: center;
            align-items: center;
            justify-content: center;

        }

        .contacto__header h2{
            margin: 0 auto;
        }

        .contacto__header p{
            display: none;
        }
        
    }

.contacto__header p{
    margin-left: 13rem;
}

.contacto__title{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 2rem;
}

.contacto__lista{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.contacto__lista li{
    font-size: 2rem;
    color: var(--color-white);
    list-style-type: none;
    margin-top: 1rem;
}

.contacto__lista li:before {
    content: "\f3c5"; 
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
  }

.contacto__mapa{
    padding-top: 5rem;
    position: absolute;
    top: 0;
    right: 2rem;
    background-image: url('../../resources/img/mapa.png');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50rem;
    height: 50rem;
    background-origin: content-box;
}


.contacto__form-container{
    display: flex;
    width: 100%;
    padding: 1rem 0;
    justify-content: flex-end;
}

    @media screen and (min-width: 300px) and (max-width: 800px) {
        .contacto__form-container{
            flex-direction: column;
            padding: 2rem;
            gap: 2rem;
            
        }
    }

.contacto__form{
    display: flex;
    width: 30rem;
    flex-direction: column;
    gap: 1rem;
}

    @media screen and (min-width: 300px) and (max-width: 800px) {
        .contacto__form{
            width: 100%;

        }
    }


.contacto__input{
    border: 1px solid var(--color-gold);
    outline: none;
    padding: 1rem;
    background-color: transparent;
    transition: 400ms;
    color: var(--color-white);
}

.contacto__textarea{
    border: 1px solid var(--color-gold);
    outline: none;
    padding: 1rem;
    background-color: transparent;
    transition: 400ms;
    color: var(--color-white);
}

.contacto__input::placeholder { 
    color: var(--color-white);
    opacity: 1; 
}

.contacto__input:-ms-input-placeholder { 
    color: var(--color-white);

}

.contacto__input::-ms-input-placeholder { 
    color: var(--color-white);

}

.contacto__textarea::placeholder { 
    color: var(--color-white);
    opacity: 1; 
}

.contacto__textarea:-ms-input-placeholder { 
    color: var(--color-white);

}

.contacto__textarea::-ms-input-placeholder { 
    color: var(--color-white);

}

.contacto__input:focus::placeholder {
    color: var(--color-light-2);
    opacity: 1; 
}

.contacto__button{
    background-color: transparent;
    border: none;
    border: 1px solid var(--color-gold);
    color: var(--color-gold);
    font-weight: bold;
    outline: none;
    width: 8rem;
    height: 3rem;
    transition: 400ms;
    cursor: pointer;
    align-self: center;
}

    @media screen and (min-width: 300px) and (max-width: 800px) {
        .contacto__button{
            width: 100%;
        }
    }

.contacto__button{
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.contacto__button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-gold);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.contacto__button:hover, .modal__button:focus,.modal__button:active {
    color: var(--color-blue);
}
.contacto__button:hover:before, .modal__button:focus:before, .modal__button:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}


.contacto__col iframe{
    width: 100%;
    height: 100%;
}
    @media screen and (min-width: 300px) and (max-width: 800px) {
                                    
        .contacto__col #mapa{
            display: none;
        }
        
    }

.contacto__informacion{
    display: flex;
    flex-direction: column;
    width: 22rem;
    height: 100%;
    align-items: center;
    gap: 1rem;
}
    @media screen and (min-width: 300px) and (max-width: 800px) {
        .contacto__informacion{
            width: 100%;
            
        }
    }

.contacto__informacion-item{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;

}
.contacto__informacion-item a{
    color: var(--color-white);
    text-decoration: none;
}

.contacto__informacion-item i{
    color: var(--color-gold);
}