/*
|   ---------------------------------------------------------------------------------
|   @Layouts (Nosotros)
|   ---------------------------------------------------------------------------------
|   
*/

.nosotros{
    display: flex;
    width: 100%;
    background-color: var(--color-blue);
    position: relative;
}

    @media screen and (min-width: 300px) and (max-width: 800px) {
                
        .nosotros{
            flex-direction: column;
        }
        
    }

.nosotros__image{
    display: flex;
    width: 30%;
}
    @media screen and (min-width: 300px) and (max-width: 800px) {
                    
        .nosotros__image{
            display: none;
        }
        
    }

.nosotros__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nosotros__information{
    display: flex;
    width: 70%;
    height: 100%;
    position: relative;
    justify-content: center;
    padding: 5rem 0;
    background-image: url('../../resources/img/logo-trasparente.png');
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}
    @media screen and (min-width: 601px) and (max-width: 800px) {
                        
        .nosotros__information{
            padding: 3rem 0rem;
            width: 100%;
        }
        
    }
    @media screen and (min-width: 300px) and (max-width: 600px) {
                        
        .nosotros__information{
            flex-direction: column;
            width: 100%;
            padding: 3rem 0rem;
            

        }
        
    }

.nosotros__col{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5rem 5rem;
}

    @media screen and (min-width: 300px) and (max-width: 600px) {
                            
        .nosotros__col{
            width: 100%;
            align-items: center;
            padding: 2rem;
            padding-bottom: 0;
        }
        
    }

.nosotros__title{
    color: var(--color-gold);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nosotros__title-text{
    display: flex;
    gap: 0.8rem;
}

.nosotros__bar{
    background-color: var(--color-gold);
    width: 50%;
    height: 0.2rem;
    margin-left: 3rem ;
}

.nosotros__text{
    margin-top: 1rem;
    color: var(--color-white);
    line-height: 1.5rem;
    text-align: center;
}

.nosotros__title-mt5{
    margin-top: 5rem;
}

    @media screen and (min-width: 300px) and (max-width: 600px) {
                                
        .nosotros__title-mt5{
           margin-top: 2rem;
        }
        
    }

