/*
|   ---------------------------------------------------------------------------------
|   @Layouts (Proyectos)
|   ---------------------------------------------------------------------------------
|   
*/

.proyectos{
    display: flex;
    width: 100%;
    background-color: var(--color-white);
    position: relative;
    padding: 5rem 0;
    flex-direction: column;
    gap: 4rem;
   
}

.proyectos__header{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 3rem;
}



.proyectos__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}