/*
|   ---------------------------------------------------------------------------------
|   @Components (Dots)
|   ---------------------------------------------------------------------------------
|   
*/

.dots{
    display: flex;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    width: 5rem;
    z-index: 9;
    justify-content: center;
    align-items: center;
    display: none;
}

.dots__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    flex-direction: column;
    gap: 0.5rem;
}

.dot__out{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

.dot{
    width: 6px;
    height: 6px;
    background-color: var(--color-white);
    border-radius: 50%;
    text-decoration: none;
    transition: .4s;
}

.dot--active{
    border: 1px solid var(--color-white);
}

.dot--blue{
    background-color: var(--color-blue);
}

.dot--active-blue{
    border: 1px solid var(--color-blue);
}