/*
|   ---------------------------------------------------------------------------------
|   @Components (Dots)
|   ---------------------------------------------------------------------------------
|   
*/

.dots{
    display: flex;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    width: 3rem;
    z-index: 9;
    justify-content: center;
    align-items: center;
}


.dots__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    flex-direction: column;
    gap: 1rem;
}

.dot{
    width: 10px;
    height: 10px;
    background-color: var(--color-light-2);
    border-radius: 50%;
    text-decoration: none;
}

.dot--active{
    background-color: var(--color-white);
}