/*
|   ---------------------------------------------------------------------------------
|   @Components (Menu)
|   ---------------------------------------------------------------------------------
|   
*/

.menu__button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-blue);
    font-weight: bold;
    background-color: transparent;
    min-width: 7rem;
    width: max-content;
    height: 7rem;
    position: absolute;
    word-wrap: break-word;
    gap: 0.5rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    right: 0;
    cursor: pointer;
    bottom: 50%;
    border: none;
    outline: none;
    border: 1px solid var(--color-blue);
}

    @media screen and (min-width: 100px) and (max-width: 340px) {
                                                                                
        .menu__button{
            top: 0;
        }
        
    }

.menu__button i{
    font-size: 2rem;
}

.menu{
    background-color: var(--color-gold);
    padding: 0;
    display: flex;
}

.menu__content{
    display: flex;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
    flex-direction: column;
}

    @media screen and (min-width: 801px) and (max-width: 1162px) {
                                                                        
        .menu__content{
            width: 60%;
        }
    }
    @media screen and (min-width: 300px) and (max-width: 800px) {
                                                                        
        .menu__content{
            width: 100%
        }
    }

.menu__content--blue{
    background-color: var(--color-blue);
}

    @media screen and (min-width: 801px) and (max-width: 1162px) {
                                                                    
        .menu__content--blue{
            width: 40%;
        }
        
    }
    @media screen and (min-width: 300px) and (max-width: 800px) {
                                                                                
        .menu__content--blue{
            display: none;
        }
        
    }


.menu__row{
    display: flex;
    width: 100%;
    height: 50%;
}

.menu__image{
    width: 100%;
}

.menu__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.menu__image--w50{
    width: 50%;
}

.menu__image--w50 img{
    object-position:right;
}

.menu__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: var(--color-blue);
}

.menu__logo img{
    width: 70%;
    height: 70%;
    object-fit: contain
}

.menu__logo--transparent{
    display: none;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: transparent;
}
    @media screen and (min-width: 300px) and (max-width: 800px) {
                                                                                        
        .menu__logo--transparent{
            display:flex;
        }
        
    }
.menu__logo--transparent img{
    width: 11rem;
    height: 11rem;
    object-fit: contain
}
    @media screen and (min-width: 300px) and (max-width: 420px) {
                                                                                    
        .menu__logo--transparent img{
            /* width: 7rem;
            height: 7rem; */
        }
        
    }

.menu__links{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 0.5rem;
    justify-content: center;
}
    @media screen and (min-width: 801px) and (max-width: 1162px) {
                                                                                    
        .menu__links{
            padding: 2rem;
            padding-top: 3rem;
        }
        
    }
    @media screen and (min-width: 300px) and (max-width: 800px) {
                                                                                    
        .menu__links{
            padding: 1rem;
        }
        
    }


.menu__link{
    padding: 0 1rem;
    border-left: 4px solid var(--color-gold);
    transition: 400ms;
    width: max-content;
}

.menu__link:hover{
    border-left: 4px solid var(--color-blue);
}

.menu__link a{
    color: var(--color-blue);
    font-weight: bold;
    text-decoration: none;
    font-size: 3rem;
}
    @media screen and (min-width: 300px) and (max-width: 1162px) {
                                                                            
        .menu__link a{
            font-size: 2rem;
        }
        
    }

.menu__link--active{
    border-left: 4px solid var(--color-blue);
}

.menu__information{
    display: flex;
    padding: 0 3rem;
    width: 100%;
}
    @media screen and (min-width: 300px) and (max-width: 1220px) {
                                                                                
        .menu__information{
            width: 100%;
           flex-direction: column;
           gap: 1rem;
           padding: 0 2rem;
        }
        
    }

.menu__information-item{
    display: flex;
    gap: 1rem;
    width: 50%;
}

    @media screen and (min-width: 300px) and (max-width: 1162px) {
                                                                                    
        .menu__information-item{
            width: 100%;
        }
        
    }

.menu__information-item--w100{
    width: 100%;
}

.menu__information-item a{
    color: var(--color-blue);
    text-decoration: none;
    font-size: 1.2rem;

}

.menu__information-col{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}