/*
|   ---------------------------------------------------------------------------------
|   @Components (Title)
|   ---------------------------------------------------------------------------------
|   
*/

.title{
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--color-blue);
}

.title__line{
    width: 10rem;
    height: 0.2rem ;
    background-color: var(--color-blue);
}
.title--gold{
    color: var(--color-gold);
}

.title__line--gold{
    background-color: var(--color-gold);
}

.subtitle{
    color: var(--color-gold);
    font-size: 1.2rem;
}